@using HealthcareManagementApp.ViewModels;
@model PatientViewModel[]
@{    ViewData["Title"] = "HealthCom"; }
<div class="row">
<div class="col-6">
<img src="~/images/family.jpg" class="head-img shadow-lg"/>
</div>
<div class="col-6">
            <div class="card quote">
                  <div class="card-body">
                <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text-center"><h5 class="display-5 text-black-50">Empowering individuals, revolutionizing communities, transforming health.</h5></p>
    <div class="card-button">
                    <a href="#" class="btn btn-outline-primary m-5">About us</a>
        <a href="#" class="btn btn-outline-primary m-5"> What do we offer?</a>
                </div>
      </div>
    </div>

</div>
    </div>
    <br /><hr>
    <div class="row bg-white p-5">
        <div class="col-4">
            <div class="card shadow-lg" style="width: 18rem;">
  <img class="card-img-top" src="~/images/mental1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fitness</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
        </div>
    </div>
         <div class="col-4">
            <div class="card shadow-lg" style="width: 18rem;">
  <img class="card-img-top" src="~/images/mental.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mental Health</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
        </div>
    </div>
         <div class="col-4">

  <div class="card shadow-lg" style="width: 18rem;">
  <img class="card-img-top" src="~/images/nutrition.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Nutrition</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
        </div>
    </div>
    </div>