html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #005587;
}
.banner{
    width:270px;
    height:100px;
}
.login-nav {
    margin-left:70%;
}
.head-img{
    width:100%;
    
}
.navbar {
     
}
.quote {
    opacity:80%;
}
.card-button{
    margin-left:12%;
}

.card-img-top{
    height:350px;
}